<#import "template.html" as template>
<@template.content>
		<div class="row section">

			<h2>${LANG_BITCOINTALK}</h2>
			<ul>
				<li><a href="https://bitcointalk.org/index.php?topic=625201.0">English</a></li>
				<li><a href="https://bitcointalk.org/index.php?topic=626752.0">Chinese/ÖÐÎÄ</a></li>
			</ul>

			<h2>${LANG_CONTACT}</h2>
			<ul>
				<li>${LANG_EMAIL}: newbiecoin@gmail.com</li>
				<li>${LANG_WEBSITE}: <a href="http://newbiecoin.org/">newbiecoin.org</a></li>
                <li>Twitter: <a href="https://twitter.com/newbiecoin2014">@newbiecoin2014</a></li>
			</ul>

			<h2>${LANG_RESOURCE}</h2>
			<ul>
				<!--<li><a href="http://reddit.com/r/newbiecoin">Subreddit</a></li>-->
				<li><a href="https://github.com/newbiecoin/newbiecoinj">GitHub</a></li>
			</ul>
			
			<h2>${LANG_MEMBERS}</h2>
			<ul>
				<li>flyingsee(newbiecoin@gmail.com), ${LANG_CHINA}</li>
				<li>alps_xing(alps_xing@hotmail.com), ${LANG_CANADA}</li>
			</ul>
			
			<h2>${LANG_DONATIONS}</h2>
			<p>${LANG_DONATIONS_ARE_WELCOME}</p>
			<p>BTC: 1NEWBxxWiwwfPKjjENPi9jL7x7jrDum2F3</p>
			<p>NEWB: 1NEWBxxWiwwfPKjjENPi9jL7x7jrDum2F3</p>
 
		</div>
</@template.content>
