<#import "template.html" as template>
<@template.content>
		<div class="row section">
			<table border="0" width="100%">
			<tr>
				<td><h2>${LANG_CROWDFUNDING}</h2></td>
				<td align="right"><a class="btn btn-primary btn-lg" role="button" href="/crowdfunding-add">${LANG_CREATE_NEW_PROJECT}...</a></td>
			</tr>
			</table>
		</div>
		<div class="row section padding-top">
		    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
		        <li class="active"><a href="#newest_project" data-toggle="tab">${LANG_THE_NEWEST!}</a></li>
				<li><a href="#recent_projects" data-toggle="tab">${LANG_RECENT_PROJECTS}</a></li>
				<li><a href="#my_projects" data-toggle="tab">${LANG_MY_PROJECTS}</a></li>
				<li><a href="#my_backs" data-toggle="tab">${LANG_MY_BACKS}</a></li>
				<!--<li><a href="#project_stat" data-toggle="tab">Crownfunding statistics</a></li>-->
		    </ul>

		    <div id="my-tab-content" class="tab-content">
				<div class="tab-pane active" id="newest_project">
					<#if recommand_project??>
					<table class="table table-striped">
					<tbody>
					<tr>
					<td width="66%"><a href='/crowdfunding-detail?project_tx_index=${recommand_project["tx_index"]}'><img src='${recommand_project["topic_img_url"]}' width="640" height="360" ></a></td>
					<td width="33%">
						<h2>${recommand_project["title"]}</h2>
						
						<table width="100%"  border="0" class="table" >
						<tbody>
						<tr>
							<#if recommand_project["validity"]="valid">
								<#if recommand_project["left_time_desc"]??>
									<td colspan="2">${LANG_LEFT} ${recommand_project["left_time_desc"]} </td>
									<td align="right">
									<a class="btn btn-success btn-lg" role="button" href='/crowdfunding-detail?project_tx_index=${recommand_project["tx_index"]}'>${LANG_VIEW}</a>
									</td>
								<#else>
									<td colspan="2"> ${LANG_PROJECT_EXPIRED} </td>
									<td align="right">
									<a class="btn btn-info btn-lg" role="button" href='/crowdfunding-detail?project_tx_index=${recommand_project["tx_index"]}'>${LANG_VIEW}</a>
									</td>
								</#if>
							<#elseif recommand_project["validity"]="success">
							<td colspan="2">${LANG_SUCCESSFULLY_FUNDED}</td>
							<td align="right">
							<a class="btn btn-info btn-lg" role="button" href='/crowdfunding-detail?project_tx_index=${recommand_project["tx_index"]}'>${LANG_VIEW}</a>
							</td>
							<#elseif recommand_project["validity"]="failed">
							<td colspan="2">${LANG_FAILED}!</td>
							<td align="right">
							<a class="btn btn-danger btn-lg" role="button" href='/crowdfunding-detail?project_tx_index=${recommand_project["tx_index"]}'>${LANG_VIEW}</a>
							</td>
							<#else>
							<td colspan="2">${LANG_CANCELED}</td>
							<td align="right">
							<a class="btn btn-warning btn-lg" role="button" href='/crowdfunding-detail?project_tx_index=${recommand_project["tx_index"]}'>${LANG_VIEW}</a>
							</td>
							</#if>
						</tr>
						<tr>
							<td colspan="3">
							${LANG_TOTAL} ${recommand_project["nbc_funded"]} NEWB  ( ${recommand_project["percent"]}% ${LANG_OF} ${recommand_project["min_fund"]} NEWB)
							</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>${recommand_project["backers"]} ${LANG_BACKERS}</td>
						</tr>
						</tbody>
						</table>
						<p>${LANG_PROJECT_BY}: <a href='/wallet?address=${recommand_project["owner"]}'>${recommand_project["name"]}</a></p>
						<p>${LANG_CREATED_TIME}: <a href='https://blockchain.info/block-index/${recommand_project["block_index"]}/'>${recommand_project["block_time"]}</a></p>
					</td>
					</tr>
					</tbody>
					</table>
					</#if>
				</div>
		        <div class="tab-pane" id="recent_projects">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>${LANG_LOGO}</th>
								<th>${LANG_BLOCK}</th>
								<th>${LANG_TIME}</th>
								<th>${LANG_TITLE}</th>
								<th>${LANG_OWNER}</th>
								<th>${LANG_BACKERS}</th>
								<th>${LANG_FUNDED}</th>
								<th>${LANG_STATUS}</th>
							</tr>
						</thead>

						<tbody>
							<#if my_pending_projects??>
							<#list my_pending_projects as project>
								<tr>
									<td><img src='${project["logo_img_url"]}' width="100" height="100" ></td>
									<td>${LANG_PENDING}</td>
									<td>${LANG_PENDING}</td>
									<td>${project["title"]}</td>
									<td><a href="/wallet?address=${project["owner"]}">${project["name"]}</a></td>
									<td>${project["backers"]}</td>
									<td>${project["nbc_funded"]} NEWB<br> ( ${project["percent"]}% ${LANG_OF} ${project["min_fund"]} NEWB)</td>
									<td>${LANG_PENDING}<!--
										<p align="center">
										<a class="btn btn-primary btn-lg" role="button" href='/crowdfunding-detail?project_tx_index=${project["tx_index"]}'>${LANG_VIEW}</a>
										</p>-->
									</td>
								</tr>
							</#list>
							</#if>
							
							<#if recent_projects??>
							<#list recent_projects as project>
								<tr>
									<td><a href='/crowdfunding-detail?project_tx_index=${project["tx_index"]}'><img src='${project["logo_img_url"]}' width="100" height="100" ></a></td>
									<td><a  href="https://blockchain.info/block-index/${project["block_index"]}/">${project["block_index"]}</a></td>
									<td>${project["block_time"]}</td>
									<td>${project["title"]}</td>
									<td><a href="/wallet?address=${project["owner"]}">${project["name"]}</a></td>
									<td>${project["backers"]}</td>
									<td>${project["nbc_funded"]} NEWB<br> ( ${project["percent"]}% ${LANG_OF} ${project["min_fund"]} NEWB)</td>
									<td>
										<#if project["validity"]="valid">
											<#if project["left_time_desc"]??>
												Left ${project["left_time_desc"]}
												<p align="center"><a class="btn btn-success btn-lg" role="button" href='/crowdfunding-detail?project_tx_index=${project["tx_index"]}'>${LANG_VIEW}</a>
												</p>
											<#else>
												${LANG_PROJECT_EXPIRED} 
												<p align="center">
												<a class="btn btn-info btn-lg" role="button" href='/crowdfunding-detail?project_tx_index=${project["tx_index"]}'>${LANG_VIEW}</a>
												</p>
											</#if>
										<#elseif project["validity"]="success">
											${LANG_SUCCESSFULLY_FUNDED}
											<p align="center">
											<a class="btn btn-info btn-lg" role="button" href='/crowdfunding-detail?project_tx_index=${project["tx_index"]}'>${LANG_VIEW}</a>
											</p>
										<#elseif project["validity"]="failed">
											${LANG_FAILED}!
											<p align="center">
											<a class="btn btn-danger btn-lg" role="button" href='/crowdfunding-detail?project_tx_index=${project["tx_index"]}'>${LANG_VIEW}</a>
											</p>
										<#else>
											${LANG_CANCELED}
											<p align="center">
											<a class="btn btn-warning btn-lg" role="button" href='/crowdfunding-detail?project_tx_index=${project["tx_index"]}'>${LANG_VIEW}</a>
											</p>
										</#if>
									</td>
								</tr>
							</#list>
							</#if>
						</tbody>
					</table>
				</div>

				<div class="tab-pane" id="my_projects">
					<table class="table table-striped">
					<thead>
						<tr>
							<th>${LANG_LOGO}</th>
                            <th>${LANG_BLOCK}</th>
                            <th>${LANG_TIME}</th>
                            <th>${LANG_TITLE}</th>
                            <th>${LANG_OWNER}</th>
                            <th>${LANG_BACKERS}</th>
                            <th>${LANG_FUNDED}</th>
                            <th>${LANG_STATUS}</th>
						</tr>
					</thead>

					<tbody>
						<#if my_pending_projects??>
						<#list my_pending_projects as project>
							<tr>
								<td><img src='${project["logo_img_url"]}' width="100" height="100" ></td>
								<td>${LANG_PENDING}</td>
								<td>${LANG_PENDING}</td>
								<td>${project["title"]}</td>
								<td><a href="/wallet?address=${project["owner"]}">${project["name"]}</a></td>
								<td>${project["backers"]}</td>
								<td>${project["nbc_funded"]} NEWB<br> ( ${project["percent"]}% ${LANG_OF} ${project["min_fund"]} NEWB)</td>
								<td>${LANG_PENDING}<!--
									<p align="center">
									<a class="btn btn-primary btn-lg" role="button" href='/crowdfunding-detail?project_tx_index=${project["tx_index"]}'>${LANG_VIEW}</a>
									</p>-->
								</td>
							</tr>
						</#list>
						</#if>
						
						<#if my_projects??>
						<#list my_projects as project>
							<tr>
								<td><a href='/crowdfunding-detail?project_tx_index=${project["tx_index"]}'><img src='${project["logo_img_url"]}' width="100" height="100" ></a></td>
								<td><a  href="https://blockchain.info/block-index/${project["block_index"]}/">${project["block_index"]}</a></td>
								<td>${project["block_time"]}</td>
								<td>${project["title"]}</td>
								<td><a href="/wallet?address=${project["owner"]}">${project["name"]}</a></td>
								<td>${project["backers"]}</td>
								<td>${project["nbc_funded"]} NEWB<br> ( ${project["percent"]}% ${LANG_OF} ${project["min_fund"]} NEWB)</td>
								<td>
									<#if project["validity"]="valid">
										<#if project["left_time_desc"]??>
											Left ${project["left_time_desc"]}
											<p align="center"><a class="btn btn-success btn-lg" role="button" href='/crowdfunding-detail?project_tx_index=${project["tx_index"]}'>${LANG_VIEW}</a>
											</p>
										<#else>
											${LANG_PROJECT_EXPIRED} 
											<p align="center">
											<a class="btn btn-info btn-lg" role="button" href='/crowdfunding-detail?project_tx_index=${project["tx_index"]}'>${LANG_VIEW}</a>
											</p>
										</#if>
									<#elseif project["validity"]="success">
										${LANG_SUCCESSFULLY_FUNDED}
										<p align="center">
										<a class="btn btn-info btn-lg" role="button" href='/crowdfunding-detail?project_tx_index=${project["tx_index"]}'>${LANG_VIEW}</a>
										</p>
									<#elseif project["validity"]="failed">
										${LANG_FAILED}!
										<p align="center">
										<a class="btn btn-danger btn-lg" role="button" href='/crowdfunding-detail?project_tx_index=${project["tx_index"]}'>${LANG_VIEW}</a>
										</p>
									<#else>
										${LANG_CANCELED}
										<p align="center">
										<a class="btn btn-warning btn-lg" role="button" href='/crowdfunding-detail?project_tx_index=${project["tx_index"]}'>${LANG_VIEW}</a>
										</p>
									</#if>
								</td>
							</tr>
						</#list>
						</#if>
					</tbody>
					</table>
				</div>
				
				<div class="tab-pane" id="my_backs">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>${LANG_PROJECT}</th>
								<th>${LANG_BLOCK}</th>
								<th>${LANG_TIME}</th>
								<th>${LANG_BACKED_ITEM}</th>
								<th>${LANG_BACKER}</th>
								<th>${LANG_STATUS}</th>
							</tr>
						</thead>

						<tbody>
							<#if my_pending_backs??>
							<#list my_pending_backs as back>
								<tr>
									<td><a href='/crowdfunding-detail?project_tx_index=${back["project_tx_index"]}'><img src='${back["logo_img_url"]}' width="100" height="100" ></a></td>
									<td><a  href="https://blockchain.info/block-index/${back["block_index"]}/">${project["block_index"]}</a></td>
									<td>${LANG_PENDING}</td>
									<td>${project["title"]}</td>
									<td><a href='/wallet?address=${back["backer"]}'>${back["email"]}</a></td>
									<td>${LANG_PENDING}
										<p align="center">
										<a class="btn btn-primary btn-lg" role="button" href='/crowdfunding-detail?project_tx_index=${project["tx_index"]}'>${LANG_VIEW}</a>
										</p>
									</td>
								</tr>
							</#list>
							</#if>
							
							<#if my_backs??>
							<#list my_backs as back>
								<tr>
									<td><a href='/crowdfunding-detail?project_tx_index=${back["project_tx_index"]}'><img src='${back["logo_img_url"]}' width="100" height="100" ></a></td>
									<td><a  href='https://blockchain.info/block-index/${back["block_index"]}/'>${back["block_index"]}</a></td>
									<td>${back["block_time"]}</td>
									<td>${LANG_PLEDGE} ${back["item_price"]} NEWB</strong><br>${back["item_label"]}</td>
									<td><a href='/wallet?address=${back["backer"]}'>${back["email"]}</a></td>
									<td>
										<#if back["validity"]=="valid">
											<#if back["project_validity"]=="valid">
												${LANG_VALID}
											<#elseif back["project_validity"]=="success">
												${LANG_SUCCESS}
											<#elseif back["project_validity"]=="failed">
												${LANG_REFUNDED}<br>(${LANG_PROJECT_FAILED})
											<#else>
												${LANG_REFUNDED}<br>(${LANG_PROJECT_CANCELED})
											</#if>
										<#else>
											${back["validity"]}
										</#if>
									</td>
								</tr>
							</#list>
							</#if>
						</tbody>
					</table>
				</div>
				<!--
		        <div class="tab-pane" id="project_stat">
					<h2>Hottest projects</h2>
					<table class="table table-striped">
							<thead>
									<tr>
											<th>Source address</th>
											<th>Bet times</th>
											<th>Average project size</th>
											<th>${LANG_TOTAL} profit</th>
									</tr>
							</thead>
							<tbody>
							<#if winners??>
							<#list winners as winner>
									<tr>
											<td><a href="/wallet?address=${winner["owner"]}">${winner["owner"]}</a></td>
											<td>${winner["bet_count"]}</td>
											<td>${winner["avg_bet"]} NEWB</td>
											<td>${winner["sum_profit"]} NEWB</td>
									</tr>
							</#list>
							</#if>
							</tbody>
					</table>
		        </div>
				-->
		</div>

</@template.content>
