<#import "template.html" as template>
<@template.content>
	<div class="row section">
		<h2>Create a new crowdfunding project</h2>
		<form action="/crowdfunding" class="form-inline" method="post">
				<input type="hidden" name="form" value="add-project">
				<input type="hidden" name="owner" value="${address}">
				
				<div class="input-group">
					<span class="input-group-addon">${LANG_TITLE}</span>
					<input type="text" placeholder="${LANG_PROJECT_TITLE}" name="title" value="" size="40">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">${LANG_LOGO_IMAGE_URL}</span>
					<input type="text" placeholder="${LANG_THE_LOGO_IMAGE_SHOULD_BE}" name="logo_img_url" value=""  size="30">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">${LANG_TOPIC_IMAGE_URL}</span>
					<input type="text" placeholder="${LANG_THE_TOPIC_IMAGE_SHOULD_BE}" name="topic_img_url" value=""  size="30">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">${LANG_DETAIL_IMAGE_URL}</span>
					<input type="text" placeholder="${LANG_THE_DETAIL_IMAGE_SHOULD_BE}" name="detail_img_url" value=""  size="30">
				</div>

				<div class="input-group">
					<span class="input-group-addon">${LANG_GOAL_CROWDFUNDING_AMOUNT}</span>
					<input type="text" placeholder="${LANG_THE_GOAL_NEWBIECOIN_AMOUNT_FOR}" name="min_fund" value=""  size="23">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">${LANG_EXPIRE_DATE}</span>
					<input type="text" placeholder="${LANG_YYYY_MM_DD}" name="expire_date" value=""  size="35">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">${LANG_YOUR_NAME}</span>
					<input type="text" placeholder="${LANG_THE_CREATOR_NAME_OF_YOU}" name="name" value=""  size="35">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">${LANG_EMAIL}</span>
					<input type="text" placeholder="${LANG_THE_PUBLIC_EMAIL_FOR}" name="email" value=""  size="35">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">${LANG_WEBSITE}</span>
					<input type="text" placeholder="${LANG_PROJECT_WEBSITE}" name="web" value=""  size="35">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">${LANG_CROWDFUNDING_ITEM} 1</span>
					<input type="text" placeholder="${LANG_NEWB_AMOUNT}" name="item1_price"  value=""  size="27">
					<input type="text" placeholder="${LANG_MAX_BACKERS_NUMBER}" name="item1_max_backers"  value=""  size="27">
					<textarea name="item1_label" placeholder="${LANG_A_SHORT_DESCRIPTION_FOR}" rows=3 cols=27></textarea>
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">${LANG_CROWDFUNDING_ITEM} 2<br>(${LANG_OPTIONAL})</span>
					<input type="text" placeholder="${LANG_NEWB_AMOUNT}" name="item2_price"  value=""  size="27">
					<input type="text" placeholder="${LANG_MAX_BACKERS_NUMBER}" name="item2_max_backers" value=""  size="27">
					<textarea name="item2_label" placeholder="${LANG_A_SHORT_DESCRIPTION_FOR}" rows=3 cols=27></textarea>
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">${LANG_CROWDFUNDING_ITEM} 3<br>(Optional)</span>
					<input type="text" placeholder="${LANG_NEWB_AMOUNT}" name="item3_price"  size="27">
					<input type="text" placeholder="${LANG_MAX_BACKERS_NUMBER}" name="item3_max_backers"  size="27">
					<textarea name="item3_label" placeholder="${LANG_A_SHORT_DESCRIPTION_FOR}" rows=3 cols=27></textarea>
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">${LANG_CROWDFUNDING_ITEM} 4<br>(Optional)</span>
					<input type="text" placeholder="${LANG_NEWB_AMOUNT}" name="item4_price"  size="27">
					<input type="text" placeholder="${LANG_MAX_BACKERS_NUMBER}" name="item4_max_backers"  size="27">
					<textarea name="item4_label" placeholder="${LANG_A_SHORT_DESCRIPTION_FOR}" rows=3 cols=27></textarea>
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">${LANG_CROWDFUNDING_ITEM} 5<br>(Optional)</span>
					<input type="text" placeholder="${LANG_NEWB_AMOUNT}" name="item5_price"  size="27">
					<input type="text" placeholder="${LANG_MAX_BACKERS_NUMBER}" name="item5_max_backers"  size="27">
					<textarea name="item5_label" placeholder="${LANG_A_SHORT_DESCRIPTION_FOR}" rows=3 cols=27></textarea>
				</div>

				<div class="input-group">
					<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<span class="input-group-btn">
						<button class="btn btn-success btn-lg" type="submit"  onclick="this.innerHTML='${LANG_CLICKED_WAITING}';this.disabled=true;form.submit();" <#if !own??>disabled="disabled"</#if>>${LANG_CREATE_IT}</button>
					</span>
				</div>
				
				<hr>
				<input type="hidden" name="rsa_public_key" value="${rsa_public_key}">
				<!--<div class="input-group">
					<span class="input-group-addon">RSA public key</span>
					<textarea rows=5 cols=27 disabled>${rsa_public_key}</textarea>
				</div>-->

		</form>
	</div>
	

</@template.content>
