<#import "template.html" as template>
<@template.content>
	<div class="row section">
		<h2>Create a new crowdfunding project</h2>
		<form action="/crowdfunding" class="form-inline" method="post">
				<input type="hidden" name="form" value="add-project">
				<input type="hidden" name="owner" value="${address}">
				
				<div class="input-group">
					<span class="input-group-addon">Title</span>
					<input type="text" placeholder="project title" name="title" value="" size="40">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">Logo image URL</span>
					<input type="text" placeholder="The logo image URL (The image should be jpg,png or gif . The suggested width*height is 100*100 pixels.)" name="logo_img_url" value=""  size="30">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">Topic image URL</span>
					<input type="text" placeholder="The topic image URL (The image should be jpg,png or gif . The suggested width*height is 640*360 pixels.)" name="topic_img_url" value=""  size="30">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">Detail image URL</span>
					<input type="text" placeholder="The introduction image URL (The image should be jpg,png or gif . The suggested width is 640 pixels. The height is less than 4000 pixels)" name="detail_img_url" value=""  size="30">
				</div>

				<div class="input-group">
					<span class="input-group-addon">Goal crowdfunding amount</span>
					<input type="text" placeholder="The goal newbiecoin amount for successful crowdfunding" name="min_fund" value=""  size="23">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">Expire date</span>
					<input type="text" placeholder="YYYY-MM-DD" name="expire_date" value=""  size="35">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">Your name</span>
					<input type="text" placeholder="The creator's name of you or your team" name="name" value=""  size="35">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">Email</span>
					<input type="text" placeholder="The public email for backers contacting you" name="email" value=""  size="39">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">Website</span>
					<input type="text" placeholder="Project website" name="web" value=""  size="37">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">Crowdfunding item 1</span>
					<input type="text" placeholder="newb amount" name="item1_price"  value=""  size="27">
					<input type="text" placeholder="max backers number" name="item1_max_backers"  value=""  size="27">
					<textarea name="item1_label" placeholder="a short description for this item" rows=3 cols=27></textarea>
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">Crowdfunding item 2<br>(Optional)</span>
					<input type="text" placeholder="newb amount" name="item2_price"  value=""  size="27">
					<input type="text" placeholder="max backers number" name="item2_max_backers" value=""  size="27">
					<textarea name="item2_label" placeholder="a short description for this item" rows=3 cols=27></textarea>
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">Crowdfunding item 3<br>(Optional)</span>
					<input type="text" placeholder="newb amount" name="item3_price"  size="27">
					<input type="text" placeholder="max backers number" name="item3_max_backers"  size="27">
					<textarea name="item3_label" placeholder="a short description for this item" rows=3 cols=27></textarea>
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">Crowdfunding item 4<br>(Optional)</span>
					<input type="text" placeholder="newb amount" name="item4_price"  size="27">
					<input type="text" placeholder="max backers number" name="item4_max_backers"  size="27">
					<textarea name="item4_label" placeholder="a short description for this item" rows=3 cols=27></textarea>
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">Crowdfunding item 5<br>(Optional)</span>
					<input type="text" placeholder="newb amount" name="item5_price"  size="27">
					<input type="text" placeholder="max backers number" name="item5_max_backers"  size="27">
					<textarea name="item5_label" placeholder="a short description for this item" rows=3 cols=27></textarea>
				</div>

				<div class="input-group">
					<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<span class="input-group-btn">
						<button class="btn btn-success btn-lg" type="submit"  onclick="this.innerHTML='Waiting';this.disabled=true;form.submit();" <#if !own??>disabled="disabled"</#if>>Create</button>
					</span>
				</div>
				
				<hr>
				<input type="hidden" name="rsa_public_key" value="${rsa_public_key}">
				<!--<div class="input-group">
					<span class="input-group-addon">RSA public key</span>
					<textarea rows=5 cols=27 disabled>${rsa_public_key}</textarea>
				</div>-->

		</form>
	</div>
	

</@template.content>
