<#import "template.html" as template>
<@template.content>
		<div class="row section">
				<div class="col-xs-4 segment one-third">
					<h2>${LANG_BUY}</h2>

					<div class="input-group">
						<span class="input-group-addon">NEWB</span>
						<input type="text" placeholder="${LANG_QUANTITY_THAT_YOU_WANT_TO_BUY}" name="buy_quantity"  id="buy_quantity"  size="18">
					</div>

					<div class="input-group">
						<span class="input-group-addon">${LANG_PRICE}(NEWB/BTC)</span>
						<input type="text" value="0.00000000" name="buy_price_btc"  id="buy_price_btc"  size="9">
					</div>

					<div class="input-group">
						<select name="buy_expiration" id="buy_expiration">
							<option value="6">${LANG_GOOD_FOR_ONE_HOUR}</option>
							<option value="144">${LANG_GOOD_FOR_ONE_DAY}</option>
							<option value="1008" selected="selected">${LANG_GOOD_FOR_ONE_WEEK}</option>
							<option value="4320">${LANG_GOOD_FOR_ONE_MONTH}</option>
						</select>
					</div>

					<div class="input-group">
						<button class="btn btn-primary" onclick="var quantity=document.getElementById('buy_quantity').value;var price_btc=document.getElementById('buy_price_btc').value;var  expiration=document.getElementById('buy_expiration').value;conformOrderValid('buy',quantity,price_btc,expiration);" <#if !own??>disabled="disabled"</#if>>${LANG_BUY}</button>
					</div>
				</div>
				<div class="col-xs-4 segment one-third">
						<h2>${LANG_ORDER_BOOK}</h2>
						<table class="table">
						    <thead>
						        <tr>
						            <th>${LANG_BUY}<br>NEWB</th>
						            <th>${LANG_PRICE}<br>NEWB/BTC</th>
						            <th>${LANG_SELL}<br>NEWB</th>
						        </tr>
						    </thead>

						    <tbody>
										<#if orders_sell??>
										<#list orders_sell as order>
						        <tr>
												<td></td>
												<td>${order["price_btc"]?string("##0.00000000")}</td>
												<td>${order["quantity"]?string(",##0.00")}</td>
						        </tr>
										</#list>
										</#if>
										<#if orders_buy??>
										<#list orders_buy as order>
										<tr>
												<td>${ order["quantity"]?string(",##0.00") }</td>
												<td>${ order["price_btc"]?string("##0.00000000") }</td>
												<td></td>
										</tr>
										</#list>
										</#if>
						    </tbody>
						</table>
				</div>
				<div class="col-xs-4 segment one-third">
					<h2>${LANG_SELL}</h2>
					<div class="input-group">
						<span class="input-group-addon">NEWB</span>
						<input type="text" placeholder="${LANG_QUANTITY_THAT_YOU_WANT_TO_SELL}" name="sell_quantity"  id="sell_quantity" size="18">
					</div>

					<div class="input-group">
						<span class="input-group-addon">${LANG_PRICE}(NEWB/BTC)</span>
						<input type="text" value="0.00000000" name="sell_price_btc"  id="sell_price_btc" size="9">
					</div>

					<div class="input-group">
						<select name="sell_expiration" id="sell_expiration">
							<option value="6">${LANG_GOOD_FOR_ONE_HOUR}</option>
							<option value="144">${LANG_GOOD_FOR_ONE_DAY}</option>
							<option value="1008" selected="selected">${LANG_GOOD_FOR_ONE_WEEK}</option>
							<option value="4320">${LANG_GOOD_FOR_ONE_MONTH}</option>
						</select>
					</div>

					<div class="input-group">
						<button class="btn btn-primary" onclick="var quantity=document.getElementById('sell_quantity').value;var price_btc=document.getElementById('sell_price_btc').value;var  expiration=document.getElementById('sell_expiration').value;conformOrderValid('sell',quantity,price_btc,expiration);"<#if !own??>disabled="disabled"</#if>>${LANG_SELL}</button>
					</div>
				</div>
		</div>

		<div class="row section">
				<div class="col-xs-6 segment one-half">
						<h2>${LANG_MY_ORDERS}</h2>
						<table class="table table-striped">
								<thead>
										<tr>
												<th>${LANG_BUY_OR_SELL}<br>NEWB</th>
												<th>${LANG_PRICE}<br>NEWB/BTC</th>
												<th>NEWB</th>
												<th>BTC</th>
												<th>${LANG_STATUS}</th>
										</tr>
								</thead>

								<tbody>
										<#if my_pending_orders??>
										<#list my_pending_orders as order>
										<tr>
												<td><#if order["buysell"] = "Buy">${LANG_BUY_LOWER}
                                                <#else>${LANG_SELL_LOWER}
                                                </#if></td>
												<td>${ order["price_btc"]?string(",##0.00000000") }</td>
												<td>${ order["quantity_remaining_nbc"]?string(",##0.00") } / ${ order["quantity_nbc"]?string(",##0.00") }</td>
												<td>${ order["quantity_remaining_btc"]?string(",##0.00000000") } / ${ order["quantity_btc"]?string(",##0.00000000") }</td>
												<td>${LANG_PENDING}</td>
										</tr>
										</#list>
										</#if>
										
										<#if my_orders??>
										<#list my_orders as order>
										<tr>
												<td><#if order["buysell"] = "Buy">${LANG_BUY_LOWER}
                                                <#else>${LANG_SELL_LOWER}
                                                </#if></td>
												<td>${ order["price_btc"]?string(",##0.00000000") }</td>
												<td>${ order["quantity_remaining_nbc"]?string(",##0.00") } / ${ order["quantity_nbc"]?string(",##0.00") }</td>
												<td>${ order["quantity_remaining_btc"]?string(",##0.00000000") } / ${ order["quantity_btc"]?string(",##0.00000000") }</td>
												<td>
													<#if order["validity"] = "valid">
														<#if order["quantity_remaining_nbc"] <= 0 && order["quantity_remaining_btc"]<= 0>
															${LANG_ORDER_FILLED}
														<#elseif own??>
															<button class="btn btn-danger" onclick='confirmCancelValid("${ order["tx_hash"] }");'>${LANG_CANCEL}</button>
														</#if>
                                                    <#elseif order["validity"] = "invalid:expired">
                                                    ${LANG_INVALID_EXPIRED}
													<#else>
													${order["validity"]}
													</#if>
													<#if order["has_pending_match"]??>
														<#if order["has_pending_match"]=="btcpayed">
															<br>${LANG_BTC_PAYED_PENDING_CONFIRMED}
														<#else>
															<#if order["buysell"]=="Buy">
															<br><font color="#FF0000">${LANG_PENDING_PAY_BTC}</font>
															<#else>
															<br><font color="#FF0000">${LANG_PENDING_BTC_PAYED}</font>
															</#if>
														</#if>
													</#if>
												</td>
										</tr>
										</#list>
										</#if>
								</tbody>
						</table>
					</div>
					<div class="col-xs-6 segment one-half">
						<h2>${LANG_MY_MATCHED_ORDERS}</h2>
						<table class="table table-striped">
								<thead>
										<tr>
												<th>${LANG_BTC_OWED}</th>
												<th>${LANG_NEWB_IN_RETURN}</th>
												<th>${LANG_PAY_BTC}</th>
										</tr>
								</thead>

								<tbody>
									<#if my_order_matches??>
									<#list my_order_matches as order_match>
									<tr>
										<td>${ order_match["btc_owed"]?string(",##0.00000000") }</td>
										<td>${ order_match["nbc_return"]?string(",##0.00") }</td>
										<td>
											<#if order_match["validity"]=="btcpayed">
											${LANG_BTC_PAYED_PENDING_CONFIRMED}
											<#else>
											<button  class="btn btn-warning" onclick=
											'confirmBtcpayValid("${ order_match["order_match_id"] }",${ order_match["btc_owed"]?string("##0.00000000") },${ order_match["nbc_return"]?string("##0.00") });' <#if !own??>disabled="disabled"</#if>>${LANG_PAY_BTC}</button>
											</#if>
										</td>
									</tr>
									</#list>
									</#if>
								</tbody>
						</table>
				</div>
		</div>

<div class="modal" id="confirmOrderDialog" role="dialog">
	<div class="modal-dialog">
	<div class="modal-content">
	<form action="/exchange" class="form-inline" method="post">
    <input type="hidden" name="form" value="" id="order_form_type">
	<input type="hidden" name="source" value="${address}">
	<input type="hidden" name="quantity" id="confirm_quantity" value="">
	<input type="hidden" name="price_btc" id="confirm_price_btc" value="">
	<input type="hidden" name="expiration" id="confirm_expiration" value="">
	
    <div class="modal-header">
     <a class="close" data-dismiss="modal">X</a>
     <h3 id="lbl_confirm_title"></h3>
    </div>
    <div class="modal-body">
     <p id="lbl_price_btc"></p>
	 <p id="lbl_total_btc"></p>
    </div>
    <div class="modal-footer">
     <a href="#" class="btn" data-dismiss="modal">${LANG_CANCEL}</a>
	 <button id="btn_confirm_order" class="btn btn-warning"  onclick="this.innerHTML='${LANG_CLICKED_WAITING}';this.disabled=true;form.submit();" >${LANG_SUBMIT}</button>
    </div>
    </form>
	</div>
   </div>
</div>

<div class="modal" id="confirmPaybtcDialog" role="dialog">
	<div class="modal-dialog">
	<div class="modal-content">
	<form action="/exchange" class="form-inline" method="post">
    <input type="hidden" name="form" value="btcpay">
	<input type="hidden" name="order_match_id" value="" id="order_match_id">
	
    <div class="modal-header">
     <a class="close" data-dismiss="modal">X</a>
     <h3 id="lbl_confirm_paybtc"></h3>
    </div>
    <div class="modal-body">
	 <p id="lbl_nbc_returnt"></p>
    </div>
    <div class="modal-footer">
     <a href="#" class="btn" data-dismiss="modal">${LANG_CANCEL}</a>
	 <button id="btn_confirm_paybtc" class="btn btn-warning"  onclick="this.innerHTML='${LANG_CLICKED_WAITING}';this.disabled=true;form.submit();" >${LANG_SUBMIT}</button>
    </div>
    </form>
	</div>
   </div>
</div>

<div class="modal" id="confirmCancelDialog" role="dialog">
	<div class="modal-dialog">
	<div class="modal-content">
	<form action="/exchange" class="form-inline" method="post">
    <input type="hidden" name="form" value="cancel">
	<input type="hidden" name="tx_hash" id="order_tx_hash">
	
    <div class="modal-header">
     <a class="close" data-dismiss="modal">X</a>
     <h3 id="lbl_cancel_title"></h3>
    </div>
    <div class="modal-body">
	 <p id="lbl_cancel_detail"></p>
    </div>
    <div class="modal-footer">
     <a href="#" class="btn" data-dismiss="modal">${LANG_NO}</a>
	 <button id="btn_confirm_cancel" class="btn btn-warning"  onclick="this.innerHTML='${LANG_CLICKED_WAITING}';this.disabled=true;form.submit();" >${LANG_YES}</button>
    </div>
    </form>
	</div>
   </div>
</div>

<script type="text/javascript">
function conformOrderValid(buy_or_sell,newb_amount,price_btc,expiration) {
	var tmp_num = new Number((newb_amount*(price_btc*100000000))*0.00000001);
	var total_btc=tmp_num.toFixed(8);
	if(total_btc<0.001){
		document.getElementById('confirm_quantity').value="";
		document.getElementById('confirm_price_btc').value="";
		document.getElementById('confirm_expiration').value="";
		document.getElementById('lbl_confirm_title').innerHTML="${LANG_INVALID_ORDER}";
		document.getElementById('lbl_price_btc').innerHTML="${LANG_THE_ORDER_AMOUNT_SHOULD_BE}";
		document.getElementById('lbl_total_btc').innerHTML="${LANG_NOW_THE_ORDER_AMOUNT_IS_ONLY} "+newb_amount+" * "+price_btc+" = "+total_btc+" BTC)";
		document.getElementById('btn_confirm_order').disabled=true;
	}else{
		document.getElementById('order_form_type').value=buy_or_sell;
		document.getElementById('confirm_quantity').value=newb_amount;
		document.getElementById('confirm_price_btc').value=price_btc;
		document.getElementById('confirm_expiration').value=expiration;
		
		document.getElementById('lbl_price_btc').innerHTML="NEWB/BTC ${LANG_PRICE}:  " +price_btc + " ( "+ (new Number(price_btc*100000000).toFixed(0)) +" ${LANG_SATOSHI})";
		
		if(buy_or_sell=='buy'){
            document.getElementById('lbl_confirm_title').innerHTML='${LANG_ARE_YOU_SURE_TO} ${LANG_BUY_LOWER} '+newb_amount+" NEWB ?";
			document.getElementById('lbl_total_btc').innerHTML="${LANG_YOU_WOULD_PAY}:  "+total_btc+" BTC ${LANG_WHILE_YOUR_ORDER_BE_MATCHED_IN} "+expiration+" ${LANG_BLOCKS}";
		}else{
            document.getElementById('lbl_confirm_title').innerHTML='${LANG_ARE_YOU_SURE_TO} ${LANG_SELL_LOWER} '+newb_amount+" NEWB ?";
			document.getElementById('lbl_total_btc').innerHTML="${LANG_YOU_WOULD_GET}"+total_btc+" BTC ${LANG_WHILE_YOUR_ORDER_BE_MATCHED_IN} "+expiration+" ${LANG_BLOCKS}";
		}
        document.getElementById('btn_confirm_order').disabled=false;
	}	
	
	$('#confirmOrderDialog').modal({'backdrop':true,'keyboard':true,'show':true});
}


function confirmBtcpayValid(order_match_id,btcpay_amount,nbc_return) {
	if(btcpay_amount<0.001){
		document.getElementById('order_match_id').value="";
		document.getElementById('lbl_confirm_paybtc').innerHTML="${LANG_INVALID_PAYMENT}";
		document.getElementById('lbl_nbc_returnt').innerHTML="${LANG_THE_BTC_PAYMENT_SHOULD_BE} "+btcpay_amount+" BTC.";
		document.getElementById('btn_confirm_paybtc').disabled=true;
	}else{	
		var total_btc_amount=btcpay_amount+ 0.00003;
		document.getElementById('order_match_id').value=order_match_id;
		document.getElementById('lbl_confirm_paybtc').innerHTML='${LANG_ARE_YOU_SURE_TO_PAY} '+total_btc_amount+" BTC (${LANG_INCLUDE} 0.00003 ${LANG_FEE_TO_BTC_NETWORK}) ?";
		document.getElementById('lbl_nbc_returnt').innerHTML="${LANG_YOU_WOULD_GET} "+nbc_return+" NEWB ${LANG_IN_RETURN}";
		document.getElementById('btn_confirm_paybtc').disabled=false;
	}
	
	$('#confirmPaybtcDialog').modal({'backdrop':true,'keyboard':true,'show':true});
}

function confirmCancelValid(order_tx_hash) {
	document.getElementById('order_tx_hash').value=order_tx_hash;
	document.getElementById('lbl_cancel_title').innerHTML="${LANG_ARE_YOU_SURE_TO_CANCEL_THIS_ORDER}";
	document.getElementById('lbl_cancel_detail').innerHTML="${LANG_ORDER_TX_HASH}: "+order_tx_hash;
	document.getElementById('btn_confirm_cancel').disabled=false;

	$('#confirmCancelDialog').modal({'backdrop':true,'keyboard':true,'show':true});
}

</script>
</@template.content>
