<#import "template.html" as template>
<@template.content>
		<div class="row section">
				<div class="col-xs-4 segment one-third">
					<h2>Buy</h2>

					<div class="input-group">
						<span class="input-group-addon">NEWB</span>
						<input type="text" placeholder="quantity of NEWB" name="buy_quantity"  id="buy_quantity"  size="18">
					</div>

					<div class="input-group">
						<span class="input-group-addon">Price(NEWB/BTC)</span>
						<input type="text" value="0.00000000" name="buy_price_btc"  id="buy_price_btc"  size="9">
					</div>

					<div class="input-group">
						<select name="buy_expiration" id="buy_expiration">
							<option value="6">Good for one hour (6 blocks)</option>
							<option value="144">Good for one day (144 blocks)</option>
							<option value="1008" selected="selected">Good for one week (1008 blocks)</option>
							<option value="4320">Good for one month (4320 blocks)</option>
						</select>
					</div>

					<div class="input-group">
						<button class="btn btn-primary" onclick="var quantity=document.getElementById('buy_quantity').value;var price_btc=document.getElementById('buy_price_btc').value;var  expiration=document.getElementById('buy_expiration').value;conformOrderValid('buy',quantity,price_btc,expiration);" <#if !own??>disabled="disabled"</#if>>Buy</button>
					</div>
				</div>
				<div class="col-xs-4 segment one-third">
						<h2>Order book</h2>
						<table class="table">
						    <thead>
						        <tr>
						            <th>Buy<br>NEWB</th>
						            <th>Price<br>NEWB/BTC</th>
						            <th>Sell<br>NEWB</th>
						        </tr>
						    </thead>

						    <tbody>
										<#if orders_sell??>
										<#list orders_sell as order>
						        <tr>
												<td></td>
												<td>${order["price_btc"]?string("##0.00000000")}</td>
												<td>${order["quantity"]?string(",##0.00")}</td>
						        </tr>
										</#list>
										</#if>
										<#if orders_buy??>
										<#list orders_buy as order>
										<tr>
												<td>${ order["quantity"]?string(",##0.00") }</td>
												<td>${ order["price_btc"]?string("##0.00000000") }</td>
												<td></td>
										</tr>
										</#list>
										</#if>
						    </tbody>
						</table>
				</div>
				<div class="col-xs-4 segment one-third">
					<h2>Sell</h2>
					<div class="input-group">
						<span class="input-group-addon">NEWB</span>
						<input type="text" placeholder="quantity of NEWB" name="sell_quantity"  id="sell_quantity" size="18">
					</div>

					<div class="input-group">
						<span class="input-group-addon">Price(NEWB/BTC)</span>
						<input type="text" value="0.00000000" name="sell_price_btc"  id="sell_price_btc" size="9">
					</div>

					<div class="input-group">
						<select name="sell_expiration" id="sell_expiration">
							<option value="6">Good for one hour (6 blocks)</option>
							<option value="144">Good for one day (144 blocks)</option>
							<option value="1008" selected="selected">Good for one week (1008 blocks)</option>
							<option value="4320">Good for one month (4320 blocks)</option>
						</select>
					</div>

					<div class="input-group">
						<button class="btn btn-primary" onclick="var quantity=document.getElementById('sell_quantity').value;var price_btc=document.getElementById('sell_price_btc').value;var  expiration=document.getElementById('sell_expiration').value;conformOrderValid('sell',quantity,price_btc,expiration);"<#if !own??>disabled="disabled"</#if>>Sell</button>
					</div>
				</div>
		</div>

		<div class="row section">
				<div class="col-xs-6 segment one-half">
						<h2>My orders</h2>
						<table class="table table-striped">
								<thead>
										<tr>
												<th>Buy/sell<br>NEWB</th>
												<th>Price<br>NEWB/BTC</th>
												<th>NEWB</th>
												<th>BTC</th>
												<th>Status</th>
										</tr>
								</thead>

								<tbody>
										<#if my_pending_orders??>
										<#list my_pending_orders as order>
										<tr>
												<td>${ order["buysell"] }</td>
												<td>${ order["price_btc"]?string(",##0.00000000") }</td>
												<td>${ order["quantity_remaining_nbc"]?string(",##0.00") } / ${ order["quantity_nbc"]?string(",##0.00") }</td>
												<td>${ order["quantity_remaining_btc"]?string(",##0.00000000") } / ${ order["quantity_btc"]?string(",##0.00000000") }</td>
												<td>Pending</td>
										</tr>
										</#list>
										</#if>
										
										<#if my_orders??>
										<#list my_orders as order>
										<tr>
												<td>${ order["buysell"] }</td>
												<td>${ order["price_btc"]?string(",##0.00000000") }</td>
												<td>${ order["quantity_remaining_nbc"]?string(",##0.00") } / ${ order["quantity_nbc"]?string(",##0.00") }</td>
												<td>${ order["quantity_remaining_btc"]?string(",##0.00000000") } / ${ order["quantity_btc"]?string(",##0.00000000") }</td>
												<td>
													<#if order["validity"] = "valid">
														<#if order["quantity_remaining_nbc"] <= 0 && order["quantity_remaining_btc"]<= 0>
															filled
														<#elseif own??>
															<button class="btn btn-danger" onclick='confirmCancelValid("${ order["tx_hash"] }");'>Cancel</button>
														</#if>
													<#else>
													${order["validity"]}
													</#if>
													<#if order["has_pending_match"]??>
														<#if order["has_pending_match"]=="btcpayed">
															BTC payed: pending confirmed
														<#else>
															<#if order["buysell"]=="Buy">
															<br><font color="#FF0000">Pending pay BTC</font>
															<#else>
															<br><font color="#FF0000">Pending BTC payed</font>
															</#if>
														</#if>
													</#if>
												</td>
										</tr>
										</#list>
										</#if>
								</tbody>
						</table>
					</div>
					<div class="col-xs-6 segment one-half">
						<h2>My matched orders</h2>
						<table class="table table-striped">
								<thead>
										<tr>
												<th>BTC owed</th>
												<th>NEWB in return</th>
												<th>Pay BTC</th>
										</tr>
								</thead>

								<tbody>
									<#if my_order_matches??>
									<#list my_order_matches as order_match>
									<tr>
										<td>${ order_match["btc_owed"]?string(",##0.00000000") }</td>
										<td>${ order_match["nbc_return"]?string(",##0.00") }</td>
										<td>
											<#if order_match["validity"]=="btcpayed">
											BTC Payed: pending confirmed
											<#else>
											<button  class="btn btn-warning" onclick=
											'confirmBtcpayValid("${ order_match["order_match_id"] }",${ order_match["btc_owed"]?string("##0.00000000") },${ order_match["nbc_return"]?string("##0.00") });' <#if !own??>disabled="disabled"</#if>>Pay BTC</button>
											</#if>
										</td>
									</tr>
									</#list>
									</#if>
								</tbody>
						</table>
				</div>
		</div>

<div class="modal" id="confirmOrderDialog" role="dialog">
	<div class="modal-dialog">
	<div class="modal-content">
	<form action="/exchange" class="form-inline" method="post">
    <input type="hidden" name="form" value="" id="order_form_type">
	<input type="hidden" name="source" value="${address}">
	<input type="hidden" name="quantity" id="confirm_quantity" value="">
	<input type="hidden" name="price_btc" id="confirm_price_btc" value="">
	<input type="hidden" name="expiration" id="confirm_expiration" value="">
	
    <div class="modal-header">
     <a class="close" data-dismiss="modal">X</a>
     <h3 id="lbl_confirm_title"></h3>
    </div>
    <div class="modal-body">
     <p id="lbl_price_btc"></p>
	 <p id="lbl_total_btc"></p>
    </div>
    <div class="modal-footer">
     <a href="#" class="btn" data-dismiss="modal">Cancel</a>
	 <button id="btn_confirm_order" class="btn btn-warning"  onclick="this.innerHTML='Waiting';this.disabled=true;form.submit();" >Submit</button>
    </div>
    </form>
	</div>
   </div>
</div>

<div class="modal" id="confirmPaybtcDialog" role="dialog">
	<div class="modal-dialog">
	<div class="modal-content">
	<form action="/exchange" class="form-inline" method="post">
    <input type="hidden" name="form" value="btcpay">
	<input type="hidden" name="order_match_id" value="" id="order_match_id">
	
    <div class="modal-header">
     <a class="close" data-dismiss="modal">X</a>
     <h3 id="lbl_confirm_paybtc"></h3>
    </div>
    <div class="modal-body">
	 <p id="lbl_nbc_returnt"></p>
    </div>
    <div class="modal-footer">
     <a href="#" class="btn" data-dismiss="modal">Cancel</a>
	 <button id="btn_confirm_paybtc" class="btn btn-warning"  onclick="this.innerHTML='Waiting';this.disabled=true;form.submit();" >Submit</button>
    </div>
    </form>
	</div>
   </div>
</div>

<div class="modal" id="confirmCancelDialog" role="dialog">
	<div class="modal-dialog">
	<div class="modal-content">
	<form action="/exchange" class="form-inline" method="post">
    <input type="hidden" name="form" value="cancel">
	<input type="hidden" name="tx_hash" id="order_tx_hash">
	
    <div class="modal-header">
     <a class="close" data-dismiss="modal">X</a>
     <h3 id="lbl_cancel_title"></h3>
    </div>
    <div class="modal-body">
	 <p id="lbl_cancel_detail"></p>
    </div>
    <div class="modal-footer">
     <a href="#" class="btn" data-dismiss="modal">No</a>
	 <button id="btn_confirm_cancel" class="btn btn-warning"  onclick="this.innerHTML='Waiting';this.disabled=true;form.submit();" >Yes</button>
    </div>
    </form>
	</div>
   </div>
</div>

<script type="text/javascript">
function conformOrderValid(buy_or_sell,newb_amount,price_btc,expiration) {
	var total_btc=(newb_amount*(price_btc*100000000))*0.00000001;
	if(total_btc<0.001){
		document.getElementById('confirm_quantity').value="";
		document.getElementById('confirm_price_btc').value="";
		document.getElementById('confirm_expiration').value="";
		document.getElementById('lbl_confirm_title').innerHTML="Invalid order";
		document.getElementById('lbl_price_btc').innerHTML="The order amount should be greater than 0.001 BTC!";
		document.getElementById('lbl_total_btc').innerHTML="Now the order amount is only "+newb_amount+" * "+price_btc+" = "+total_btc+" BTC)";
		document.getElementById('btn_confirm_order').disabled=true;
	}else{
		document.getElementById('order_form_type').value=buy_or_sell;
		document.getElementById('confirm_quantity').value=newb_amount;
		document.getElementById('confirm_price_btc').value=price_btc;
		document.getElementById('confirm_expiration').value=expiration;
		document.getElementById('lbl_confirm_title').innerHTML='Are you sure to '+buy_or_sell+' '+newb_amount+" NEWB ?";
		document.getElementById('lbl_price_btc').innerHTML="NEWB/BTC Price:  " +price_btc + " ( "+ (price_btc*100000000) +" Satoshi)";
		
		if(buy_or_sell=='buy')
			document.getElementById('lbl_total_btc').innerHTML="You would pay:  "+total_btc+" BTC while your order be matched in "+expiration+" blocks";
		else
			document.getElementById('lbl_total_btc').innerHTML="You would get:  "+total_btc+" BTC while your order be matched in "+expiration+" blocks";
		document.getElementById('btn_confirm_order').disabled=false;
	}	
	
	$('#confirmOrderDialog').modal({'backdrop':true,'keyboard':true,'show':true});
}


function confirmBtcpayValid(order_match_id,btcpay_amount,nbc_return) {
	if(btcpay_amount<0.001){
		document.getElementById('order_match_id').value="";
		document.getElementById('lbl_confirm_paybtc').innerHTML="Invalid payment";
		document.getElementById('lbl_nbc_returnt').innerHTML="The btc payment should be greater than 0.001 BTC for each time!<br>Now your payment is only "+btcpay_amount+" BTC.";
		document.getElementById('btn_confirm_paybtc').disabled=true;
	}else{	
		var total_btc_amount=btcpay_amount+ 0.0001;
		document.getElementById('order_match_id').value=order_match_id;
		document.getElementById('lbl_confirm_paybtc').innerHTML='Are you sure to pay '+total_btc_amount+" BTC (include 0.0001 fee to BTC network) ?";
		document.getElementById('lbl_nbc_returnt').innerHTML="You would get "+nbc_return+" NEWB in return.";
		document.getElementById('btn_confirm_paybtc').disabled=false;
	}
	
	$('#confirmPaybtcDialog').modal({'backdrop':true,'keyboard':true,'show':true});
}

function confirmCancelValid(order_tx_hash) {
	document.getElementById('order_tx_hash').value=order_tx_hash;
	document.getElementById('lbl_cancel_title').innerHTML="Are you sure to cancel this order ?";
	document.getElementById('lbl_cancel_detail').innerHTML="Order TX Hash: "+order_tx_hash;
	document.getElementById('btn_confirm_cancel').disabled=false;

	$('#confirmCancelDialog').modal({'backdrop':true,'keyboard':true,'show':true});
}

</script>
</@template.content>
