<#import "template.html" as template>
<@template.content>

<div class="row section">
		<a href="/crowdfunding-detail?project_tx_index=137"><img src="/images/t-topic.jpg" style="height: 250px;" class="float_right" /></a>
		<div class="page-header">
		  <h1>${LANG_NEWBIECOIN} <small>${LANG_A_UNIQUE_COIN}</small></h1>
		</div>
		<p>${LANG_MADE_FOR_A_LITTLE_JOY} ${LANG_SOFTWARE_INCLUDING}</p>
		<p>${LANG_CREATED_BY_BURNING} ${supply} NEWB.</p>
		<p>${LANG_BUILT_ON_BITCOIN_BLOCKCHAIN}</p>
		<p><a class="btn btn-primary btn-lg" role="button" href="/technical">${LANG_LEARN_MORE}</a></p>
</div>
<div class="row section">
<h2>${LANG_NEWS}</h2>
<iframe width="100%" height="50" scrolling="auto" frameborder="no" name="news_content" id="news_content" src="${news_url}"></iframe>
</div>

<div class="row section">
<table border="0" width="100%">
<tr>
	<td><h2>${LANG_CROWDFUNDING}</h2></td>
	<td align="right"><a class="btn btn-primary btn-lg" role="button" href="/crowdfunding-add">${LANG_CREATE_NEW_PROJECT}...</a></td>
</tr>
</table>
<#if recommand_project??>
<table class="table table-striped">
<tbody>
<tr>
<td width="66%"><a href='/crowdfunding-detail?project_tx_index=${recommand_project["tx_index"]}'><img src='${recommand_project["topic_img_url"]}' width="640" height="360" ></a></td>
<td width="33%">
	<h2>${recommand_project["title"]}</h2>
	
	<table width="100%"  border="0" class="table" >
	<tbody>
	<tr>
		<#if recommand_project["validity"]="valid">
			<#if recommand_project["left_time_desc"]??>
				<td colspan="2">${LANG_LEFT} ${recommand_project["left_time_desc"]} </td>
				<td align="right">
				<a class="btn btn-success btn-lg" role="button" href='/crowdfunding-detail?project_tx_index=${recommand_project["tx_index"]}'>${LANG_VIEW}</a>
				</td>
			<#else>
				<td colspan="2"> ${LANG_PROJECT_EXPIRED}</td>
				<td align="right">
				<a class="btn btn-info btn-lg" role="button" href='/crowdfunding-detail?project_tx_index=${recommand_project["tx_index"]}'>${LANG_VIEW}</a>
				</td>
			</#if>
		<#elseif recommand_project["validity"]="success">
		<td colspan="2">${LANG_SUCCESSFULLY_FUNDED}</td>
		<td align="right">
		<a class="btn btn-info btn-lg" role="button" href='/crowdfunding-detail?project_tx_index=${recommand_project["tx_index"]}'>${LANG_VIEW}</a>
		</td>
		<#elseif recommand_project["validity"]="failed">
		<td colspan="2">${LANG_FAILED}</td>
		<td align="right">
		<a class="btn btn-danger btn-lg" role="button" href='/crowdfunding-detail?project_tx_index=${recommand_project["tx_index"]}'>${LANG_VIEW}</a>
		</td>
		<#else>
		<td colspan="2">${LANG_CANCELED}</td>
		<td align="right">
		<a class="btn btn-warning btn-lg" role="button" href='/crowdfunding-detail?project_tx_index=${recommand_project["tx_index"]}'>${LANG_VIEW}</a>
		</td>
		</#if>
	</tr>
	<tr>
		<td colspan="3">
		${LANG_TOTAL} ${recommand_project["nbc_funded"]} NEWB  ( ${recommand_project["percent"]}% ${LANG_OF} ${recommand_project["min_fund"]} NEWB)
		</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td>${recommand_project["backers"]} ${LANG_BACKERS}</td>
	</tr>
	</tbody>
	</table>
	<p>${LANG_PROJECT_BY}: <a href='/wallet?address=${recommand_project["owner"]}'>${recommand_project["name"]}</a></p>
	<p>${LANG_CREATED_TIME}: <a href='https://blockchain.info/block-index/${recommand_project["block_index"]}/'>${recommand_project["block_time"]}</a></p>
</td>
</tr>
</tbody>
</table>
</#if>
</div>
<!--
<div class="row section">
		<h2>${LANG_ROLL_DICE}</h2>
		<form action="/casino" class="form-inline" method="post">

				<input type="hidden" name="form" value="bet">
				<input type="hidden" name="source" value="${address}">

			    <div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">#</span>
						<input type="text" placeholder="${LANG_BET_SIZE} (NEWB)" name="bet">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">?</span>
						<select name="big_or_small">
						<option value="1">${LANG_BIGGER}[5-9]</item>
						<option value="0">${LANG_SMALLER}[0-4]</item>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit"  onclick="this.innerHTML='Waiting';this.disabled=true;form.submit();" <#if !own??>disabled="disabled"</#if>>${LANG_ROLL_DICE}</button>
						</span>
					</div>
				</div>

		</form>
</div>
<#if bets??>
<div class="row section">
		<h2><a href="/casino">${LANG_RECENT_BETS}</a></h2>
		<table class="table table-striped">
				<thead>
                    <tr>
                        <th>${LANG_BLOCK}</th>
                        <th>${LANG_TIME}</th>
                        <th>${LANG_SOURCE_ADDRESS}</th>
                        <th>${LANG_BET_SIZE}</th>
                        <th>${LANG_BIGGER_OR_SMALLER}</th>
                        <th>${LANG_ROLL}</th>
                        <th>${LANG_PROFIT}</th>
                    </tr>
				</thead>

				<tbody>
					<#list bets as bet>
							<tr>
                                    <td><a   href="https://blockchain.info/block-index/${bet["block_index"]}/">${bet["block_index"]}</a></td>
									<td>${bet["block_time"]}</td>
									<td><a   href="/wallet?address=${bet["source"]}">${bet["source"]}</a></td>
									<td>${bet["bet"]} NEWB</td>
									<td><#if bet["bet_bs"]==1>${LANG_BIGGER}<#else>${LANG_SMALLER}</#if></td>
									<td><#if bet["resolved"]??><#if bet["roll"]==1>${LANG_BIGGER}<#else>${LANG_SMALLER}</#if><#else>${LANG_PENDING}</#if></td>
									<td><#if bet["resolved"]?? && bet["resolved"]="true">${bet["profit"]} NEWB<#else>${LANG_UNRESOLVED}</#if></td>
							</tr>
					</#list>
				</tbody>
		</table>
</div>
</#if>
-->
</@template.content>
