<#import "template.html" as template>
<@template.content>
	<div class="row section">
		<h2>${LANG_REGISTE_A_NEW_ODII}</h2>
		<form action="/odii" class="form-inline" method="post">
				<input type="hidden" name="form" value="add-odii">
				<input type="hidden" name="register" value="${address}">
				
				<div class="input-group">
					<span class="input-group-addon">${LANG_ODII_OWNER_ADDRESS}</span>
					<input type="text" placeholder="${LANG_ODII_OWNER_ADDRESS}" name="owner_address" value="" size="40">
				</div>
				
                <div class="input-group">
					<span class="input-group-addon">${LANG_ODII_TITLE}</span>
					<input type="text" placeholder="${LANG_ODII_TITLE}" name="title" value=""  size="35">
				</div>
                
				<div class="input-group">
					<span class="input-group-addon">${LANG_EMAIL}(${LANG_OPTIONAL})</span>
					<input type="text" placeholder="${LANG_THE_PUBLIC_EMAIL_FOR}" name="email" value=""  size="35">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">${LANG_ODII_AP} 1</span>
					<input type="text" placeholder="${LANG_ODII_AP_URL_SHOULD_BE}" name="ap1_url" value="http://ppkpub.org/AP/"  size="30">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">${LANG_ODII_AP} 2(${LANG_OPTIONAL})</span>
					<input type="text" placeholder="${LANG_ODII_AP_URL_SHOULD_BE}" name="ap2_url" value=""  size="30">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">${LANG_ODII_AP} 3(${LANG_OPTIONAL})</span>
					<input type="text" placeholder="${LANG_ODII_AP_URL_SHOULD_BE}" name="ap3_url" value=""  size="30">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">${LANG_ODII_AP} 4(${LANG_OPTIONAL})</span>
					<input type="text" placeholder="${LANG_ODII_AP_URL_SHOULD_BE}" name="ap4_url" value=""  size="30">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">${LANG_ODII_AP} 5(${LANG_OPTIONAL})</span>
					<input type="text" placeholder="${LANG_ODII_AP_URL_SHOULD_BE}" name="ap5_url" value=""  size="30">
				</div>
                
                <div class="input-group">
                    <span class="input-group-addon">${LANG_ODII_AUTHORITY}</span>
                    <select name="auth" id="auth">
                        <option value="0" selected="selected">${LANG_THE_REGISTER_OR_OWNER_CAN_UPDATE}</option>
                        <option value="1">${LANG_ONLY_THE_REGISTER_CAN_UPDATE}</option>
                        <option value="2">${LANG_REGISTER_AND_OWNER_MUST_UPDATE_TOGETHER}</option>
                    </select>
                </div>
                
				<div class="input-group">
					<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<span class="input-group-btn">
						<button class="btn btn-success btn-lg" type="submit"  onclick="this.innerHTML='${LANG_CLICKED_WAITING}';this.disabled=true;form.submit();" <#if !own??>disabled="disabled"</#if>>${LANG_REGIST_IT}</button>
					</span>
				</div>
		</form>
	</div>
	

</@template.content>
