<#import "template.html" as template>
<@template.content>
		<div class="row section">

			<h2>Newbiecoin software &#8212; including decentralized casino, decentralized exchange, and wallet</h2>
			<ul>
				<li><a href="https://www.dropbox.com/s/fwna5ad48k51ghn/Newbiecoin-newest.zip">Download Newbiecoin-newest.zip</a></li>
				<li>We no longer support versions of Newbiecoin earlier than version ${min_version}. </li>
			</ul>

			<h2>Installation instructions</h2>
			<ul>
				<li>Download and install Java SE Runtime Environment 8 from <a href="http://www.oracle.com/technetwork/java/javase/downloads/jre8-downloads-2133155.html">http://www.oracle.com/technetwork/java/javase/downloads/jre8-downloads-2133155.html</a>.</li>
				<li>Download the latest Newbiecoin software.</li>
				<li>Unzip the zip file.</li>
				<li>Run Newbiecoin.jar.</li>
				<li>If you are using OS X and your security settings prevent you from opening the jar file, right click on it and choose "Open."</li>
			</ul>

			<h2>Upgrade instructions</h2>
			<ul>
				<li>When you upgrade, you will need to copy and paste database and wallet files from the old version into the new version. These files can be found in the "resources/db" folder.</li>
			</ul>

			<h2>Importing your addresses</h2>
			<ul>
				<li>If you are a first time user and would like to import your Bitcoin address into Newbiecoin, simply open the Newbiecoin software and go to the "Wallet" page. From there, you can import your private key in WIF format.</li>
				<li>If you are using Blockchain.info, go to your Wallet, click on "Import / Export," click "Export Unencrypted," choose "Bitcoin-Qt Format," and copy the "priv" key.</li>
			</ul>

		</div>
</@template.content>
