<#import "template.html" as template>
<@template.content>
<div class="row section">
<h2>菜鸟币</h2>
<p>菜鸟币 (NEWB) 是一种新型的加密数字货币，基于比特币块链运行，它的产生是通过创新的双通道“燃烧”比特币（Twin-POB）的方式。菜鸟币的交易数据经特定编码后存储于比特币块链数据中，公开可信。区别于很多热衷短期价格炒作的加密虚拟货币，菜鸟币除了具有类似比特币的点对点支付功能外，更专注于开发去中心化应用需求的潜在市场，目前已实现去中心化的众筹平台、买卖交易等功能，今后还将陆续推出更多创新应用。</p>
<p>友情提示： 菜鸟币目前所实现的众筹等应用基于独特的分布式加密交易模式，请自行了解和控制参与风险。</p>
<p>菜鸟币的钱包软件代码是开源的，在ChanceCoin的开源代码的基础上修改而来（包括改良的TWIN-POB模式、增加POS设计以及新增众筹功能等等）。(在此感谢ChanceCoin的开发者 Magician 和 Venetian . 了解ChanceCoin的更多信息可以访问 : https://bitcointalk.org/index.php?topic=528023.0)。</p>

<ul>
<li><a href="#help_crowdfunding">创新的去中心化的众筹平台</a></li>
<li><a href="#help_exchange">去中心化买卖交易所</a></li>
<li><a href="#help_pobpos">产出菜鸟币</a></li>
<li><a href="#help_send">转账菜鸟币</a></li>
<li><a href="#help_faq">常见问题</a></li>
<ul>
   <li><a href="#help_faq_1">1.菜鸟币是什么？与比特币、莱特币这些知名币种有关系吗？</a></li>
   <li><a href="#help_faq_2">2.如何获得和买卖菜鸟币？</a></li>
   <li><a href="#help_faq_3">3.如何导入已有的比特币钱包？</a></li>
   <li><a href="#help_faq_4">4.如何参与和支持众筹？</a></li>
</ul>
</ul>
      
<hr size="1" width="80%"> 
<h2><a name="help_crowdfunding">创新的去中心化的众筹平台</a></h2>

<p>通过菜鸟币众筹平台（Newbiecoin Decentralized Crowdfunding Platform ，简称NDCP），像Kickstarter、点名时间等众筹网站一样，菜鸟币用户可以创建众筹项目和将资金质押给众筹项目。事实上，像Kickstarter会抽取高达项目总资金的10％作为中间费用，使得很多众筹项目很难筹集到足够的资金。令人高兴的是，NDCP不收取任何中间费用，众筹项目将拿到他们的每一分宝贵的筹集资金！同时，基于去中心化的、完全公开的筹款流程，NDCP没有中心化的资金池和被挪用的风险！</p>

<p>任何人都可以在NDCP平台发起一个新的众筹项目，只需提供该众筹项目的名称、相关介绍图片链接、截止时间、发起者联系资料等必要信息，设定目标筹集最低菜鸟币数以及分档众筹设置，确认提交后就可以广播给所有菜鸟币玩家。
菜鸟币玩家可以通过钱包查看已发布的众筹项目，选择感兴趣的参与(点击众筹项目展示窗口右侧的绿色"支持这个"按钮)，并确认支付相应数量的菜鸟币和填写联系资料。当该众筹项目截止时， 由分散的菜鸟币钱包判断该项目的已筹资额是否达到，如果达到，则已筹资额结算到发起者的菜鸟币钱包，如果未达到，则已筹资额将返还到各个参与者的钱包。 众筹成功的项目按公布的约定后续流程继续执行直至完毕（比如启动生产众筹标的商品后及时发货）。</p>

<p>基于菜鸟币运行机制的特点，众筹项目数据和参与数据都需编码存放于比特币区块上，因此请需要使用众筹功能的朋友留意适当转入一些比特币到菜鸟币钱包地址以正常使用，比特币余额一般不少于0.001BTC即可。注意，众筹的单次交易成本是0.0001BTC，但交易数据会有多条金额为0.00000780但同时标注为“Unspent”的记录， 这些附加记录实际上就是用于保存你所提交的众筹报名数据的，不过放心这些unspent的交易金额只是临时暂用余额，不会被实际花费，而会被回收用于下一次交易循环使用。</p>

<p>注意： 菜鸟币众筹平台是完全去中心化运行的，没有中心化的审核机制和中间费用，请参与者自行判断和承担所参与众筹项目的信用风险。</p>

<hr size="1" width="80%"> 
<h2><a name="help_exchange">去中心化买卖交易所</a></h2>
<p>可以通过菜鸟币钱包内置的去中心化交易功能来买卖菜鸟币。</p>
<p>交易方法说明如下：</p>

<p>1.确认你的菜鸟币钱包已经升级到最新支持中文版本（2.5以上）和存有一定的比特币（一般建议存0.003个比特币左右，如果需要购入菜鸟币，则根据实际需要从你已有的比特币钱包转入所需数量的比特币）；</p>

<p>2.启动菜鸟币钱包，等数据同步完成后显示主窗口，点击主窗口上部的“买卖交易”，进入分布式交易功能，就可以进行买卖下单操作、查看已有的买卖下单、查看我的交易下单和成交列表，以及匹配到对方卖单等待我方确认支付比特币的买单。</p>

<p>3.如果要使用比特币买入菜鸟币，请在“买入菜鸟币”一栏输入要买入的菜鸟币数量，对应的兑换价格（比如0.00000020表示0.00000020比特币买入1个菜鸟币）以及买单有效时间（缺省为"1周内有效 (1008 区块)"表示保持1008个比特币块，约一周，过期未成交则自动撤销），点击“买入菜鸟币”按钮即可提交买单。 </p> 
<p>如果要卖出菜鸟币获得比特币，请在“卖出菜鸟币”一栏输入要卖出的菜鸟币数量，对应的兑换价格（比如0.00000020表示1菜鸟币兑换0.00000020比特币）以及卖单有效时间（缺省为"1周内有效 (1008 区块)"表示保持1008个比特币块，约一周，过期未成交则自动撤销），点击“卖出菜鸟币”按钮即可提交卖单。</p>

<p>买卖单提交后需等待比特币网络出块确认后生效,生效后待成交的买卖单将出现在“报价清单”一栏里。</p>

<p>4.当买家所下的买单匹配到可以对应成交的卖单时， 将出现在“我已匹配到的买单”一栏里，买家确认交易数据无误后需点击“支付比特币”按钮确认支付，等待比特币网络出块确认后菜鸟币网络将自动进行买卖双方的结算, 买方钱包减少所支付的比特币和增加所购买的菜鸟币，卖方钱包减少所卖出的菜鸟币和获得买方支付的比特币。</p>

<p>5.在“我的下单”一栏里可以查看到自己的下单和成交历史数据，对于未成交或部分成交的下单记录可以点击“取消”按钮撤销下单，注意对于部分成交的下单只能撤销剩余未成交部分。对于已匹配等待确认支付完成的下单交易不能手动撤销。</p>


<p>注意：</p>
<p>1.因为菜鸟币对比特币的去中心化交易是基于比特币的块链系统来进行的，所以在你进行买卖下单、撤消下单或确认支付操作时，点击提交后看到绿色文字提示（例如“你的操作请求已被提交到比特币网络，请等待至少1个比特币新区块的确认结果（约10分钟）”）后请等待比特币网络的新出块确认，不要着急进行重复点击操作。</p>

<p>2.需要确保你的钱包里除了菜鸟币外还有少量但足够的比特币以支持交易（每次买卖下单需消耗0.00003个比特币，买家确认支付时消耗0.00003个比特币，手动撤销订单会消耗0.00003个比特币。这些费用将被比特币网络所消化包括支付给比特币矿工和在比特币块链上保存菜鸟币交易数据）。就像比特币转账因为存在最少0.00003BTC成本所以过小额的转账是不划算的情况类似，这个交易费的问题也是受制于比特币协议的一些限制而对应的技术方案的特点，所以实际使用时每次买卖交易的金额不宜过小，系统设置每笔订单金额不少于0.001比特币才能提交。</p>   

<p>友情提示：</p>
<p>相比传统的中心化交易所，目前菜鸟币的去中心化交易模式的执行效率慢很多，交易方法也有所差异，但作为一种全新的技术，它的完全公开透明特性却是超越传统交易所的，真正匹配以比特币为代表的加密货币的价值精髓，也是目前二代币的一个必要特性，所以值得各位真正关注加密货币发展的朋友来体验和使用，提出优化改进意见。我们后续也会开发一些交易辅助功能（比如成交量价格走势图等）来逐步提升交易体验。</p>
<p>后续随着菜鸟币价值的稳步提升，菜鸟币也会联系业内比较优秀的虚拟币交易所上市交易作为补充，到时你也可以自行选择在这些交易所进行买卖。</p>

<hr size="1" width="80%"> 
<h2><a name="help_pobpos">产出菜鸟币</a></h2>
<p>菜鸟币初期采用更为合理的 双通道"燃烧"即TWIN-POB（Twin channels Proof of Burn）模式产出，创世区块从比特币第${ pob_trial_start_block } 区块开始，对应国际标准时间是2014-06-01 06:45:46，中国时间是2014-06-01 14:45:46。POB产出阶段共持续约4周时间。</p>
<ul>
<li><strong>产出状态</strong>: ${ burn_status }</li>
<li><strong>产出时间</strong>: 比特币区块 ${ pob_trial_start_block } 到 ${ pob_down_end_block }</li>
<li>第1周 （创世块${ pob_trial_start_block } - ${ pob_trial_end_block }），“燃烧”1比特币可获得${ pob_trial_multiplier }菜鸟币，作为预热试运行阶段，燃烧产出兑换率比第二阶段小，所以大家在此阶段只需投入很少量比特币，重在体验菜鸟币的各项功能操作，了解可能的投资风险，为决定加大投资参与后面的正式运行做好准备，不需担心搭不上车而盲目急于投资。 （已结束）</li>
<li>第2周（区块${ pob_max_start_block } - ${ pob_max_end_block }），“燃烧”1比特币可获得${ pob_max_multiplier } 菜鸟币，这一阶段的燃烧兑换比率最高并保持稳定，全球玩家享有平等的参与权利，不用熬夜抢先发优势了。 （已结束）</li>
<li>第3周开始到第4周（区块${ pob_down_start_block } - ${ pob_down_end_block }），燃烧1比特币从可获得${ pob_down_init_multiplier }菜鸟币逐步按块线性递降至${ pob_down_end_multiplier }菜鸟币，逐步显现早期投资的优势。 （已结束）</li>
<li>第5周开始， POB结束，进入POS阶段。</li>

<li><strong>共计产出</strong>: ${ burned_NBC } NEWB (对应燃烧 ${ burned_BTC } BTC)</li>
<li><strong>燃烧到基金</strong>: <a   href="http://blockchain.info/address/${ burn_address_fund }">${ burn_address_fund }</a>    ${ burned_NBC_fund } NEWB (${ burned_BTC_fund } BTC)</li>
<li><strong>燃烧到黑洞</strong>: <a   href="http://blockchain.info/address/${ burn_address_dark }">${ burn_address_dark }</a>    ${ burned_NBC_dark } NEWB (${ burned_BTC_dark } BTC)</li>
<li><strong>最大可产出菜鸟币数量</strong>: ${ max_burn } NEWB</li>
<li><strong>每个钱包地址可燃烧产出金额</strong>: 不限</li>
</ul>

<b>POS利息产出模式</b>
<p>当POB即燃烧产出阶段结束后，菜鸟币进入POS（Proof of Stake）产出模式，也就是利息模式。
以1000个比特币区块(约一周时间)为作为计息周期，每产出第1000区块时，每个钱包账户里有效存储的菜鸟币余额将获得对应0.1%的利息。</p>
<ul>
<li><strong>POS状态</strong>: ${ pos_status }</li> 
<li><strong>POS时间</strong>: 比特币区块 ${ pos_first_block } 到 ${ pos_end_block }</li>
<li><strong>POS周期</strong>: 每 ${ pos_wait_blocks } 区块计息一次 </li>
<li><strong>利息额</strong>: 每次 ${ pos_interest }%  </li>
</ul>

<hr size="1" width="80%"> 
<h2><a name="help_send">转账菜鸟币</a></h2>
<p>可以使用菜鸟币钱包里的“转账菜鸟币”功能进行转账。</p>

<p>注意：因为菜鸟币的转账交易是基于比特币的块链系统来进行的，所以你需要确保你的钱包里除了菜鸟币外还有少量但足够的比特币（每次转账菜鸟币的交易需消耗约0.00003个比特币,这些费用将被比特币网络所消化包括支付给比特币矿工和在比特币块链上保存菜鸟币交易数据）。就像比特币转账因为存在最少0.00003BTC成本所以过小额的转账是不划算的情况类似，这个交易费的问题也是受制于比特币协议的一些限制而对应的技术方案的特点，所以实际使用时每次转账发送菜鸟币的金额不宜过小，一般在10000NEWB以上时相对的交易成本还是可以接受的。 </p>  

<p>特别提示：考虑到安全，请不要在菜鸟币钱包里存放大量的比特币，建议比特币的余额不超过0.01 BTC，这已经能支持最少100次菜鸟币交易费用，然后当比特币余额减少至0.001比特币时，再从你的其它比特币钱包向菜鸟币钱包里的比特币地址再次汇入0.01 BTC继续进行交易即可。</p>

<hr size="1" width="80%"> 
<h2><a name="help_faq">常见问题</a></h2>

<strong><a name="help_faq_1">1.菜鸟币是什么？与比特币、莱特币这些知名币种有关系吗？</a></strong>
<p>菜鸟币 (NEWB) 是一种新型的加密数字协议货币，基于比特币块链运行，菜鸟币的交易数据经特定编码后被广播和最终存储于比特币的分布式网络中。菜鸟币与比特币、莱特币等知名币种一样具有点对点匿名支付、完全公开、交易可信等基本特点，同时菜鸟币更专注于开发去中心化应用需求的潜在市场和长期发展，目前已实现去中心化的众筹平台、买卖交易等功能，今后还将陆续推出更多创新应用。</p>

<strong><a name="help_faq_2">2.如何获得和买卖菜鸟币？</a></strong>
<p>可以通过菜鸟币钱包内置的去中心化交易功能来使用比特币购买到菜鸟币，或者卖出持有的菜鸟币获得比特币，具体交易方法请见“<a href="#help_exchange">去中心化买卖买卖交易功能</a>”里面的说明。</p>

<strong><a name="help_faq_3">3.如何导入已有的比特币钱包？</a></strong>

<p>如果你是首次使用菜鸟币钱包并想把你已有比特币钱包地址导入到菜鸟币钱包软件里， 可以打开菜鸟币钱包软件，点击“我的钱包”功能，在这里你可以导入已有比特币钱包地址对应的私钥（WIF格式字符串）。</p>

<p>提示：从安全角度考虑，我们建议在菜鸟币钱包软件里生成并使用新的比特币钱包地址，你可以从其他比特币钱包里向这个新地址汇入所需的比特币，而不是直接导入你已有比特币钱包。</p>

<strong><a name="help_faq_4">4.如何参与和支持众筹？</a></strong>

<p>可以通过菜鸟币钱包浏览已发布的众筹项目，了解项目详情，对于决定支持的项目，可以点击项目展示窗口右侧的"支持这个"绿色按钮，填写必要的联系资料后确认提交（提示：联系资料会被加密，只有众筹组织者可见），等待比特币网络确认后将扣除相应数量菜鸟币，这就参与成功了。当该众筹项目截止时， 由分散的菜鸟币钱包判断该项目的已筹资额是否达到，如果达到，则已筹资额结算到发起者的菜鸟币钱包，如果未达到，则已筹资额将返还到各个参与者的钱包。 众筹成功的项目按公布的约定后续流程继续执行直至完毕（比如启动生产众筹标的商品后及时发货）。</p>


</div>
</@template.content>
