<#macro content>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Newbiecoin is a coin for betting on dice in a decentralized casino.">

	<title>Newbiecoin<#if title??> - ${title}</#if></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand logo" href="/">Newbiecoin</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
	      <ul class="nav navbar-nav">
			<#if is_my_wallet?? && is_my_wallet != "My">
					<li>Viewing other address ${address}<br>Notice: Click your address listed on the right side to go back your wallet. </li>
			<#else>
					<li <#if title?? && title=="Crowdfunding">class="active"</#if>><a href="/crowdfunding">Crowdfunding</a></li>
					<li <#if title?? && title=="Casino">class="active"</#if>><a href="/casino">Casino</a></li>
					<!--<li <#if title?? && title=="WorldCup">class="active"</#if>><a href="/worldcup">WorldCup</a></li>-->
					<li <#if title?? && title=="Exchange">class="active"</#if>><a href="/exchange">Exchange</a></li>
					<li <#if title?? && title=="Wallet">class="active"</#if>><a href="/wallet">Wallet</a></li>
					<!--<li <#if title?? && title=="Participate">class="active"</#if>><a href="/participate">Participate</a></li>-->
					<li <#if title?? && title=="Technical">class="active"</#if>><a href="/technical">Technical</a></li>
					<li <#if title?? && title=="Community">class="active"</#if>><a href="/community">Community</a></li>
					<li><a href="https://bitcointalk.org/index.php?topic=626752.0">ÖÐÎÄÉçÇø</a></li>
			</#if>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
					<#if addresses??>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">${address?substring(0,6)}... <b class="caret"></b></a>
	          <ul class="dropdown-menu">
								<#list addresses as addr>
									<li><a href="?address=${addr["address"]}"><#if addr["address"]==address><strong>${addr["address"]}</strong><#else>${addr["address"]}</#if> <span class="badge">${addr["balance_NBC"]} NEWB</span></a></li>
								</#list>
	          </ul>
	        </li>
					</#if>
					<#if blocksBTC?? && blocksNBC?? && version??>
					<li class="dropdown">
						<#if parsing??>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">${parsing} / ${blocksBTC} <b class="caret"></b></a>
						<#else>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">${blocksNBC} / ${blocksBTC} <b class="caret"></b></a>
						</#if>
						<ul class="dropdown-menu">
							<#if parsing??>
							<li><a href="#">NEWB blocks <span class="badge">${parsing}</span></a></li>
							<#else>
							<li><a href="#">NEWB blocks <span class="badge">${blocksNBC}</span></a></li>
							</#if>
							<li><a href="#">BTC blocks <span class="badge">${blocksBTC}</span></a></li>
							<li><a href="#">Version <span class="badge">${version}</span></a></li>
							<#if !parsing??>
							<li><a href="/?reparse">Reparse transactions</a></li>
							</#if>
						</ul>
					</li>
					</#if>
	      </ul>
	    </div>
	  </div>
	</nav>

	<div class="container-fluid content">
		<#if info?? || error?? || success?? || warning?? || (parsing?? || blocksNBC!=blocksBTC || blocksBTC=0 || blocksNBC=0) || (version_major?? && version_minor?? && min_version_major?? && min_version_minor?? && (version_major?number<min_version_major?number || (version_major?number==min_version_major?number && version_minor?number<min_version_minor?number)))>
		<div class="row section messages">
			<#if info??>
			<div class="alert alert-info">${info}</div>
			</#if>
			<#if error??>
			<div class="alert alert-danger">${error}</div>
			</#if>
			<#if success??>
			<div class="alert alert-success">${success}</div>
			</#if>
			<#if warning??>
			<div class="alert alert-warning">${warning}</div>
			</#if>
			<#if version_major?? && version_minor?? && min_version_major?? && min_version_minor?? && (version_major?number<min_version_major?number || (version_major?number==min_version_major?number && version_minor?number<min_version_minor?number))>
			<div class="alert alert-danger">You must update to the latest version of Newbiecoin. Your version is out of date.</div>
			</#if>
			<#if (parsing?? || blocksNBC!=blocksBTC || blocksBTC=0 || blocksNBC=0)>
			<div class="alert alert-warning">Newbiecoin is parsing transactions. You can still use the software, but the information you see will be out of date.</div>
			</#if>
		</div>
		</#if>

		<#nested/>

	<div class="container-fluid footer">
	Newbiecoin &copy; 2014. Released under the <a href="http://opensource.org/licenses/mit-license.php">MIT License</a>.
	</div>

	<script src="http://yui.yahooapis.com/3.12.0/build/yui/yui.js"></script>
	<script>
	YUI().use('node-base', 'node-event-delegate', function (Y) {
	Y.one('body').delegate('click', function (e) {
	e.preventDefault();
	}, 'a[href="#"]');
	});
	</script>

</body>
</html>
</#macro>
