<#import "template.html" as template>
<@template.content>
    <div class="row section">
            <div class="col-xs-4 segment one-third">
                    <h2>${is_my_wallet} balance</h2>
                    <ul class="list-group">
                    <p>${address}</p>
                    <#if balanceNBC??>
                    <li class="list-group-item">
                    <span class="badge">NEWB</span>
                    ${balanceNBC?string(",##0.00000000")}
                    </li>
                    </#if>
                    <#if balanceBTC?? && is_my_wallet == "My">
                    <li class="list-group-item">
                    <span class="badge">BTC</span>
                    ${balanceBTC?string(",##0.00000000")}
                    </li>
                    </#if>
                    </ul>
                    <!--
                    <form class="pure-form pure-form-stacked" action="/wallet" method="post">
                            <div class="input-group">
                                    <input type="hidden" name="form" value="delete">
                                    <input type="hidden" name="address" value="${address}">
                                    <button type="submit" class="btn btn-default">Delete this address</button>
                            </div>
                    </form> -->
                    <form class="pure-form pure-form-stacked" action="/wallet" method="post">
                            <div class="input-group">
                                    <input type="hidden" name="form" value="reimport">
                                    <input type="hidden" name="address" value="${address}">
                                    <button type="submit" class="btn btn-default" onclick="this.innerHTML='Waiting';this.disabled=true;form.submit();">Reimport transactions</button>
                            </div>
                    </form>
            </div>
            
            <#if is_my_wallet == "My">
            <div class="col-xs-4 segment one-third">
                    <h2>Import private key</h2>
                    <form action="/wallet" method="post">
                            <input type="hidden" name="form" value="import">

                            <div class="input-group">
                                <span class="input-group-addon">PK</span>
                                <input type="text" placeholder="private key" name="privatekey" data-toggle="tooltip" data-placement="bottom" title="Your private key should be in WIF format. For more information about where to find this, see the Participate page.">
                            </div>
                            <script>
                            $('input[type=text][name=privatekey]').tooltip({
                            placement: "bottom",
                            trigger: "hover"
                            });
                            </script>

                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" onclick="this.innerHTML='Waiting';this.disabled=true;form.submit();">Import private key</button>
                                </span>
                            </div>
                    </form>
                    
                    <#if is_burning?? >
                    <h2>Burn</h2>
                    <form action="/wallet" method="post">
                            <input type="hidden" name="form" value="burn">
                            <input type="hidden" name="source" value="${address}">
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <select name="destination">
                                <option value="${ burn_address_fund }">Fund: ${ burn_address_fund }</item>
                                <option value="${ burn_address_dark }">DarkHole: ${ burn_address_dark }</item>
                                </select>
                            </div>
                            
                            <div class="input-group">
                                <span class="input-group-addon">#</span>
                                <input type="text" placeholder="quantity min ${min_burn_btc?string(",##0.00000000")} (BTC) " name="quantity">
                            </div>

                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"  onclick="this.innerHTML='Waiting';this.disabled=true;form.submit();">Burn BTC to generate NEWB</button>
                                </span>
                            </div>
                    </form>
                    </#if>
            </div>
            <div class="col-xs-4 segment one-third">
                    <h2>Send</h2>
                    <form action="/wallet" method="post">
                            <input type="hidden" name="form" value="send">
                            <input type="hidden" name="source" value="${address}">

                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <input type="text" placeholder="destination address" name="destination">
                            </div>

                            <div class="input-group">
                              <span class="input-group-addon">#</span>
                        <input type="text" placeholder="quantity (NEWB)" name="quantity">
                            </div>

                            <div class="input-group">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" onclick="this.innerHTML='Waiting';this.disabled=true;form.submit();">Send</button>
                          </span>
                        </div>
                    </form>
            </div>
            </#if>
    </div>


    <div class="row section padding-top">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#my_burns" data-toggle="tab">${is_my_wallet} burns</a></li>
            <li><a href="#my_sending" data-toggle="tab">${is_my_wallet} sending transactions</a></li>
            <li><a href="#my_receiving" data-toggle="tab">${is_my_wallet} receiving transactions</a></li>
        </ul>

        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane active" id="my_burns">
                <h2>${is_my_wallet} burns</h2>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Block</th>
                            <th>Time</th>
                            <th>Destination</th>
                            <th>Burned (BTC)</th>
                            <th>Earned (NEWB)</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody>
                        <#if my_burns??>
                        <#list my_burns as tx>
                        <tr>
                            <td><a target="_blank" href="https://blockchain.info/block-index/${tx["block_index"]}/">${tx["block_index"]}</a></td>
                            <td>${ tx["block_time"]}</td>
                            <td><a target="_blank" href="/wallet?address=${tx["destination"]}">${tx["destination"]}</a></td>
                            <td>${ tx["burned"]?string(",##0.00000000") }</td>
                            <td>${ tx["earned"]?string(",##0.00000000") }</td>
                            <td>${ tx["validity"]}</td>
                        </tr>
                        </#list>
                        </#if>
                    </tbody>
                </table>

            </div>

            <div class="tab-pane" id="my_sending">
                <h2>${is_my_wallet} sending transactions</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Block</th>
                            <th>Time</th>
                            <th>Destination</th>
                            <th>Quantity (NEWB)</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <#if my_sends??>
                        <#list my_sends as tx>
                        <tr>
                            <td><a target="_blank" href="https://blockchain.info/block-index/${tx["block_index"]}/">${tx["block_index"]}</a></td>
                            <td>${ tx["block_time"]}</td>
                            <td><a target="_blank" href="/wallet?address=${tx["destination"]}">${tx["destination"]}</a></td>
                            <td>${ tx["amount"]?string(",##0.00000000") }</td>
                            <td>${ tx["validity"]}</td>
                        </tr>
                        </#list>
                        </#if>
                    </tbody>
                </table>
            </div>
            
            <div class="tab-pane" id="my_receiving">
                <h2>${is_my_wallet} receiving transactions</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Block</th>
                            <th>Time</th>
                            <th>Source</th>
                            <th>Quantity (NEWB)</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody>
                        <#if my_receives??>
                        <#list my_receives as tx>
                        <tr>
                            <td><a target="_blank" href="https://blockchain.info/block-index/${tx["block_index"]}/">${tx["block_index"]}</a></td>
                            <td>${ tx["block_time"]}</td>
                            <td>
							<#if !tx["source"]?? || tx["source"]?length lt 20 >
							${tx["source"]}
							<#else>
							<a target="_blank" href="/wallet?address=${tx["source"]}">${tx["source"]}</a>
							</#if>
							</td>
                            <td>${ tx["amount"]?string(",##0.00000000") }</td>
                            <td>${ tx["validity"]}</td>
                        </tr>
                        </#list>
                        </#if>
                    </tbody>
                </table>
            </div>
        </div>

	</div>

</@template.content>
