<#import "template.html" as template>
<@template.content>
		<div class="row section">
				<h2>WorldCup2014</h2>
				<#if house_broadcast_enabled??>
				<form action="/worldcup" class="form-inline" method="post">

						<input type="hidden" name="form" value="broadcast">

						<div class="form-group">
							<div class="input-group">
                                <span class="input-group-addon">Champion</span>
                                <select name="champion">
								<option value="">Please select</item>
								${team_select_html}
                                </select>
                            </div>
						</div>
						<div class="form-group">
							<div class="input-group">
                                <span class="input-group-addon">Second</span>
                                <select name="second">
								<option value="">Please select</item>
								${team_select_html}
                                </select>
                            </div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit"  onclick="this.innerHTML='Waiting';this.disabled=true;form.submit();">Broadcast resolved</button>
								</span>
							</div>
						</div>

				</form>
				<#else>
				<form action="/worldcup" class="form-inline" method="post">

						<input type="hidden" name="form" value="bet">
						<input type="hidden" name="source" value="${address}">

					  <div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">#</span>
								<input type="text" placeholder="bet size (NEWB)" name="bet">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
                                <span class="input-group-addon">Champion</span>
                                <select name="champion">
								<option value="">Please select</item>
								${team_select_html}
                                </select>
                            </div>
						</div>
						<div class="form-group">
							<div class="input-group">
                                <span class="input-group-addon">Second</span>
                                <select name="second">
								<option value="">Please select</item>
								${team_select_html}
                                </select>
                            </div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit"  onclick="this.innerHTML='Waiting';this.disabled=true;form.submit();" <#if !betting_enabled??>disabled="disabled"</#if>>Goal!</button>
								</span>
							</div>
						</div>

				</form>
				</#if>
		</div>
		<div class="row section"> 
			<ul>
			<li><strong>Betting period:</strong> ${betting_start_time} -> ${betting_end_time}</li>
			<li><strong>Resolve scheme time:</strong> ${resolve_scheme_time}</li>
			<li><strong>Status:</strong> ${betting_status}</li>
			</ul>
		</div>
		<div class="row section padding-top">
		    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
		        <li class="active"><a href="#recent_bets" data-toggle="tab">Recent bets</a></li>
						<#if my_bets??>
						<li><a href="#my_bets" data-toggle="tab">My bets</a></li>
						</#if>
		        <li><a href="#leaderboard" data-toggle="tab">Leaderboard</a></li>
				<li><a href="#teamstat" data-toggle="tab">Teams statistics</a></li>
                <li><a href="#house_info" data-toggle="tab">House info</a></li>
		    </ul>

		    <div id="my-tab-content" class="tab-content">
		        <div class="tab-pane active" id="recent_bets">
								<h2>Recent bets</h2>

								<table class="table table-striped">
										<thead>
												<tr>
                                                        <th>Block</th>
														<th>Time</th>
														<th>Source address</th>
														<th>Bet size</th>
														<th>Bet Champion&Second</th>
														<th>Profit</th>
												</tr>
										</thead>

										<tbody>
											<#if my_bets_pending??>
											<#list my_bets_pending as bet>
													<tr>
                                                            <td><a   href="https://blockchain.info/block-index/${bet["block_index"]}/">${bet["block_index"]}</a></td>
															<td>Pending</td>
															<td><a href="/wallet?address=${bet["source"]}">${bet["source"]}</a></td>
															<td>${bet["bet"]} NEWB</td>
															<td>${bet["bet_set"]}</td>
															<td>Pending</td>
													</tr>
											</#list>
											</#if>
											<#list bets as bet>
													<tr>
                                                            <td><a   href="https://blockchain.info/block-index/${bet["block_index"]}/">${bet["block_index"]}</a></td>
															<td>${bet["block_time"]}</td>
															<td><a href="/wallet?address=${bet["source"]}">${bet["source"]}</a></td>
															<td>${bet["bet"]} NEWB</td>
															<td>${bet["bet_set"]}</td>
															<td><#if bet["resolved"]?? && bet["resolved"]="true">${bet["profit"]} NEWB<#else>Unresolved</#if></td>
													</tr>
											</#list>
										</tbody>
								</table>

						</div>

						<#if my_bets??>
						<div class="tab-pane" id="my_bets">
								<h2>My bets</h2>
								<table class="table table-striped">
										<thead>
												<tr>
                                                        <th>Block</th>
														<th>Time</th>
														<th>Source address</th>
														<th>Bet size</th>
														<th>Bet Champion&Second</th>
														<th>Profit</th>
												</tr>
										</thead>
										<tbody>
											<#if my_bets_pending??>
											<#list my_bets_pending as bet>
													<tr>
                                                            <td><a   href="https://blockchain.info/block-index/${bet["block_index"]}/">${bet["block_index"]}</a></td>
															<td>Pending</td>
															<td><a href="/wallet?address=${bet["source"]}">${bet["source"]}</a></td>
															<td>${bet["bet"]} NEWB</td>
															<td>${bet["bet_set"]}</td>
															<td>Pending</td>
													</tr>
											</#list>
											</#if>
											<#list my_bets as bet>
													<tr>
                                                            <td><a   href="https://blockchain.info/block-index/${bet["block_index"]}/">${bet["block_index"]}</a></td>
															<td>${bet["block_time"]}</td>
															<td><a href="/wallet?address=${bet["source"]}">${bet["source"]}</a></td>
															<td>${bet["bet"]} NEWB</td>
															<td>${bet["bet_set"]}</td>
															<td><#if bet["resolved"]?? && bet["resolved"]="true">${bet["profit"]} NEWB<#else>Unresolved</#if></td>
													</tr>
											</#list>
										</tbody>
								</table>
						</div>
						</#if>

		        <div class="tab-pane" id="leaderboard">
								<h2>Biggest winners</h2>
								<table class="table table-striped">
										<thead>
												<tr>
														<th>Source address</th>
														<th>Bet times</th>
														<th>Average bet size</th>
														<th>Total profit</th>
												</tr>
										</thead>
										<tbody>
										<#list winners as winner>
												<tr>
														<td><a href="/wallet?address=${winner["source"]}">${winner["source"]}</a></td>
														<td>${winner["bet_count"]}</td>
														<td>${winner["avg_bet"]} NEWB</td>
														<td>${winner["sum_profit"]} NEWB</td>
												</tr>
										</#list>
										</tbody>
								</table>

								<h2>High rollers</h2>
								<table class="table table-striped">
										<thead>
												<tr>
														<th>Source address</th>
														<th>Bet times</th>
														<th>Total bet size</th>
														<th>Total profit</th>
												</tr>
										</thead>
										<tbody>
										<#list high_rollers as high_roller>
												<tr>
														<td><a href="/wallet?address=${high_roller["source"]}">${high_roller["source"]}</a></td>
														<td>${high_roller["bet_count"]}</td>
														<td>${high_roller["sum_bet"]} NEWB</td>
														<td>${high_roller["sum_profit"]} NEWB</td>
												</tr>
										</#list>
										</tbody>
								</table>

								<h2>Largest bets</h2>
								<table class="table table-striped">
										<thead>
											<tr>
                                                    <th>Block</th>
													<th>Time</th>
													<th>Source address</th>
													<th>Bet size</th>
													<th>Bet Champion&Second</th>
													<th>Profit</th>
											</tr>
										</thead>
										<tbody>
										<#list largest_bets as largest_bet>
											<tr>
                                                    <td><a   href="https://blockchain.info/block-index/${largest_bet["block_index"]}/">${largest_bet["block_index"]}</a></td>
													<td>${largest_bet["block_time"]}</td>
													<td><a href="/wallet?address=${largest_bet["source"]}">${largest_bet["source"]}</a></td>
													<td>${largest_bet["bet"]} NEWB</td>
													<td>${largest_bet["bet_set"]}</td>
													<td><#if largest_bet["resolved"]?? && largest_bet["resolved"]="true">${largest_bet["profit"]} NEWB<#else>Unresolved</#if></td>
											</tr>
										</#list>
										</tbody>
								</table>

		        </div>
				<div class="tab-pane" id="teamstat">
					<h2>Teams statistics</h2>
					<table class="table table-striped">
							<thead>
									<tr>
											<th>Champion & Second</th>
											<th>Bet times</th>
											<th>Total bet size</th>
											<th>Average bet size</th>
											<th>Total profit</th>
									</tr>
							</thead>
							<tbody>
							<#list teams as team_bet>
									<tr>
											<td>${team_bet["bet_set"]}</td>
											<td>${team_bet["bet_count"]}</td>
											<td>${team_bet["sum_bet"]} NEWB</td>
											<td>${team_bet["avg_bet"]} NEWB</td>
											<td>${team_bet["sum_profit"]} NEWB</td>
									</tr>
							</#list>
							</tbody>
					</table>
		        </div>
						<div class="tab-pane" id="house_info">
								<h2>House info</h2>
								<table class="table table-striped">
										<thead>
												<tr>
														<th>House address</th>
														<th>House edge</th>
														<th>Resolve times</th>
														<th>Total house fee</th>
												</tr>
										</thead>

										<tbody>
												<tr>
														<td><a href="/wallet?address=${house_address}">${house_address}</a></td>
														<td>${house_edge*100}%</td>
														<td>${house_times}</td>
														<td>${total_house_fee} NEWB</td>
												</tr>
										</tbody>
								</table>
						</div>
		    </div>
		</div>

</@template.content>
